@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root>
	<div class="title">@TerrainName.Name</div>
</root>

@code
{

	[Property, TextArea] public string MyStringValue { get; set; } = "Yo";
	GameObject TerrainName => GameObject.GetComponentInParent<Terrain>().GameObject;

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine(TerrainName);
}
